.middle {
    text-align: center;
    margin-top: 10px;
  }
  
  .card {
    background-color:white;
    /*height:400px;*/
    width:502px;
    border: 1px solid #d0d1d5;
    border-radius:3px;
    margin: auto;
    margin-bottom:10px;
    padding: 12px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, .30); /* Not original, just a test */
    font-family: Helvetica;
  }

  .right{
      right: 0;
  }

  .edit-button {
    margin-right: 10px;
  }

  .flex {
    display: block;
    position: relative; 
  }

  .flex > div {
    position: absolute;
  }
  
  .card-header {
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    clear:both;
    font-family: Helvetica, sans-serif;
    font-size:14px;
    line-height: 1.38;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 14px;
  }
  
  .social {
    margin-top:12px;
  }
  
  .social-buttons {
    color: #7f7f7f;
    font-family: Helvetica;
    font-size: 12px;
    font-weight:bold;
    line-height:14px;
    
    border-top:1px solid #e5e5e5;
    padding-top:4px;
    
  }
  
  .social-buttons span {
    font-size: 12px;
    margin-right:20px;
    padding:4px 4px 4px 0;
  }
  
  .social-buttons span:hover {
    text-decoration:underline;
    cursor:pointer;
  }
  
  .social-buttons span i {
    padding-right:4px;
  }
  
  .delete-button span {
    color: red;
  }
  
  .delete-button span:hover {
    text-decoration:underline;
    cursor:pointer;
  }
  
  .red {
    color: red;
  }